.container {
  background-color: #F0F2F5;
  font-family: 'Poppins', 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 1.8rem;
  align-self: flex-start;
  color: #000000;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  width: 100%;
  justify-items: center;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 350px;
  height: 250px;
  margin-bottom: 15px;
}

.card h2{
    font-size: 22px;
    font-weight: 400;
}

.card a {
  display: inline-block;
  margin-top: 12px;
  background-color: #0056ff;
  color: white;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.card a:hover {
  background-color: #003ecc;
}
