.container {
  background-color: #F0F2F5;
  font-family: 'Poppins', 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 40px;
}

.content {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.title {
  font-size: 1.8rem;
  align-self: flex-start;
  color: #000000;
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  width: 100%;
  justify-items: center;
}

.iconcontainer {
  width: 80px;
  height: 80px;
  background-color: #e0e9ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.iconcontainer img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 350px;
  height: 250px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 22px;
  font-weight: 400;
}

.card button {
  margin-top: 15px;
  background-color: #1f4af4;
  ;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card button:hover {
  background-color: #1f4af4;
  ;
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.card button:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card button:focus {
  outline: none;
}

.pageTitle {
  font-size: 50px;
  font-weight: 600;
  color: #1F4AF4;
  margin-bottom: 25px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-top: 60px;
}