
:global(main.conteudo) {
  padding: 0 !important;
}

.empty-lateral {
  width: 0; 
}

.layout {
  display: flex !important;   
  flex-direction: row;
  min-width: 90%;
  min-height: 100vh;
  overflow-x: hidden;         
  background-color: #fff;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.lateral {
  background-color: #1f4af4;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.campoLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #000;
  padding: 0 80px;
  background-color: #fff;
  position: relative;
  text-align: center; 
  margin: 0 auto;
}


.linkVoltar {
display: inline-flex; 
  align-self: flex-start;
  font-size: 1rem;
  text-decoration: none;
  color: #7a7a7a;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 80px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: opacity 0.2s;
  font-family: "Poppins", sans-serif;
  margin-left: 500px;
}

.linkVoltar:hover {
  opacity: 0.8;
}


.titulo {
  color: #0051ff;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px 0 25px 0;
  text-align: center;
}


.painelAcesso {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #e5edff;
  color: #0051ff;
  padding: 10px 35px; 
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 81, 255, 0.3);
  font-weight: 500;
  margin-bottom: 45px;
  width: fit-content; 
}

.iconePainel {
  width: 18px;
  height: 18px;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 480px; 
  gap: 22px;
}


.form label {
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 3px;
  align-self: flex-start;
}


.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 12px 18px;
  transition: box-shadow 0.2s, border-color 0.2s;
  width: 110%;
}

.inputWrapper:focus-within {
  border-color: #0051ff;
  box-shadow: 0 0 4px rgba(0, 81, 255, 0.4);
}

.inputWrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background: none;
  padding-left: 10px;
  color: #333;
}

.inputWrapper input::placeholder {
  color: #b3b3b3;
}


.iconeInput {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.mostrarSenha {
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.mostrarSenha:hover {
  opacity: 1;
}


.botaoLogar {
  background: #0051ff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.2s;
  width: 60%; 
}

.botaoLogar:hover {
  background: #003ed1;
  transform: scale(1.03);
}
