#Configuração do DB
DB_HOST=localhost 
DB_USERNAME=root 
DB_PASSWORD=sua_senha
DB_DB=seu_db

#Configuração do Sistema de Email
EMAIL_USER=testenewe1@gmail.com
EMAIL_PASS=lqkt hkoj vgso dlxt

#Configuração da Porta do BackEnd sendo usada
PORT=5000

JWT_SECRET=SuaChaveSecretaSuper32Caracteres