.container {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 40px 60px;
  font-family: 'Outfit', sans-serif;
  color: #111;
}

.titulo {
  font-size: 50px;
  font-weight: 600;
  color: #1F4AF4;
  margin-bottom: 25px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-top: 0;
}

.containerCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.cards {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.tituloEvento {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.funcionarioWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
}

.funcionario {
  display: flex;
  align-items: center;
}

.funcionarioCargo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000 solid 1px;
  border-radius: 30px;
  width: 170px;
  height: 50px;
  margin-right: 20px;
}

.iconCargo {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  filter: brightness(0);
}

.iconLer {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.btnJustificativa {
  padding: 6px 12px;
  border: none;
  background: #1d4ed8;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 170px;
  height: 50px;
  margin-left: 15px;
}

.btnJustificativa:hover {
  background: #163ea6;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

.justificativaTexto {
  margin-top: 10px;
}

.btnFechar {
  margin-top: 15px;
  padding: 8px 16px;
  background: #e11d48;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btnFechar:hover {
  background: #b81439;
}

@media (max-width: 900px) {
  .container {
    margin-top: 40px;
  }

  .containerCards {
    grid-template-columns: 1fr;
  }

  .funcionarioWrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .funcionarioCargo {
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }

  .btnJustificativa {
    width: 100%;
    margin-left: 0;
  }

  .cards {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .tituloEvento {
    font-size: 18px;
  }

  .funcionarioCargo {
    height: 45px;
  }

  .btnJustificativa {
    height: 45px;
    font-size: 13px;
    margin-left: 0;
  }

  .iconCargo,
  .iconLer {
    width: 24px;
    height: 24px;
  }

  .modal {
    width: 90%;
  }
}