:global(main.conteudo) {
  padding: 0 !important;
}


.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}


.lateral {
  background-color: #1f4af4;
  width: 500px; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-left: 500px; 
  padding-right: 50px;

}


.linkVoltar {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 1rem;
  color: #7a7a7a;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.2s;
  font-family: "Poppins", sans-serif;
  z-index: 10; 
}

.linkVoltar:hover {
  opacity: 0.8;
}

.card {
  text-align: center;
  width: 100%;
  max-width: 700px;
}


.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}


.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}


.panel {
  background-color: #cfe4ff;
  width: 110%;
  max-width: 700px;
  height: 110px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.panel:hover {
  background-color: #b6d3ff;
  transform: scale(1.02);
}


.iconCircle {
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.icon {
  width: 45px;
  height: 45px;
}

.text {
  font-size: 20px;
  color: #111;
  font-weight: 500;
}